# Backend
backend/src/babblegraph/services/worker/data/**
backend/worker/**
backend/pkg/**
backend/bin/**
backend/src/github.com/**

# Ops
ops/wordsmith/setup/out/**
ops/elasticsearch/data01/**
ops/elasticsearch/data02/**
ops/babblegraph/worker/**

# Deploy
deploy/web/dhparam/**
deploy/main-db/data/**
deploy/main-db/backups/**
deploy/wordsmith/data/**

# Other
env/**
**.DS_Store
