# Backend
backend/src/babblegraph/services/worker/data/**
backend/worker/**
backend/pkg/**
backend/bin/**
backend/src/github.com/**
backend/src/golang.org/**

# Frontend
website/node_modules/**
website/dist/*
!website/dist/index.html
!website/dist/logo.png
!website/dist/home-page.jpg

# Ops
ops/wordsmith/setup/out/**
ops/elasticsearch/data01/**
ops/elasticsearch/data02/**
ops/babblegraph/worker/**

# Deploy
deploy/web/dhparam/**
deploy/main-db/data/**
deploy/main-db/backups/**
deploy/wordsmith/data/**

# Other
env/**
**.DS_Store
