@import 'common/styles/colors';

.UnsubscribePage__heading {
    color: #FFFFFF;
}

.UnsubscribePage__subheading {
    color: #FFFFFF;
}

.UnsubscribePage__header {
    background-color: $primary-purple;
}
