@import 'common/styles/colors';

.Spinner__root {
    margin: auto;
    display: block;
    shape-rendering: auto;
}

.Spinner__ring-white {
    stroke: $white;
}

.Spinner__ring-primary-purple {
    stroke: $primary-purple;
}
