// TODO: migrate everything to using
// the typescript colors
$primary: #A663CC;
$secondary: #B8D0EB;

$border-gray: #D3D3D3;
$text-gray: #565656;

$black: #000000;
$white: #FFFFFF;

/*
    Don't use these.
    Instead prefer using the generic names,
    this will allow for an easier transition
    to other colors if I change the theme.

    I'm currently supporting these
    because I've already made the mistake
    of using them.
*/
$primary-purple: #A663CC;
$light-purple: #B298DC;
$primary-blue: #B8D0EB;
$light-blue: #B9FAF8;
$red: #FE5F55;

$border-gray: #D3D3D3;
$white: #FFFFFF;


